@import "../node_modules/ui-styles/colors";
@import "../node_modules/ui-styles/visual-elements";
@import "../node_modules/ui-styles/keyframes";

:host {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid @grey;
  cursor: pointer;

  ui-button {
    background-color: inherit;
    padding: 0.2em 0;
    width: 5em;
  }

  .busy-container {
    display: inline-block;
    width: 5em;
    height: 1.125em;
    text-align: center;
    padding: 0.2em 0;

    ui-busy::shadow svg {
      fill: @grey;
    }
  }
}
