@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";
@import "../node_modules/ui-styles/typography";
@import "../node_modules/ui-fonts/node_modules/ui-font-awesome/font-awesome-icons";

:host {
  -webkit-flex-display: flex;
  -moz-flex-display: flex;
  -o-flex-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .glg-hidden {
    opacity: 0;
    display: block;
    overflow: hidden;
  }

  #projowner, #projtype /deep/ {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  ui-typeahead {
    margin: 0.5rem 0 0 0.5rem;
    width: 90%;
  }

  .proj-name{
    font-size: 0.9rem;
    color: #000;
  }

  .proj-meta {
    color: #555;
    font-size: 0.7rem;
    margin-left: 1rem;
  }

  .proj-meta-important {
    font-weight: 400;
    padding: 0 0.5rem 0 0.5rem;
  }

  .options > span {
    margin: 0.5rem 0.5rem;
    cursor: pointer;
  }

  .options > *.core-selected {
    border-bottom-color: lightgrey;
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
  }

  #inputwrapper {
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 5px;
  }

  @-webkit-keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }

  @-moz-keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }

  @-o-keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }

  .progress {
    font-size: 2.5rem;
    margin-top: 1rem;
    -webkit-animation: spin 2.5s infinite linear;
    -moz-animation: spin 2.5s infinite linear;
    -o-animation: spin 2.5s infinite linear;
    animation: spin 2.5s infinite linear;
  }

  .ico-add {
    font-size: 0.7rem;
    color: #CCC;
  }

}
