@import "../node_modules/ui-styles/colors";
@import "../node_modules/ui-styles/visual-elements";
@import "../node_modules/ui-styles/keyframes";
@import "../node_modules/ui-fonts/node_modules/ui-font-awesome/font-awesome-icons";

:host {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;

  .dropdown-button {
    font-size: 1.6em;
    border-left: 1px solid @grey;

    icon {
      font-size: 0.6em;
      font-weight: 100;
      color: @grey;
    }
  }

  .busy-container {
    display: inline-block;
    height: 1.125em;
    min-width: 2em;
    text-align: center;
    padding: 0.2em;

    ui-busy::shadow svg {
      fill: @grey;
    }
  }

  .dropdown {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border: 1px solid @grey;
    top: ~"calc(100% + .1em)";
    left: 0;
    min-width: 9em;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li:hover {
        cursor: pointer;
        color: white;
        background-color: @blue;
      }
    }
  }
}
