@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";
@import "../node_modules/ui-fonts/node_modules/ui-font-awesome/font-awesome-icons";
:host {
  display: flex;
  justify-content: center;

  ui-typeahead {
    flex: 1;
  }

  .name{
    color: @color-text;
  }

  .meta {
    color: @color-disabled-text;
    margin-left: 1em;
    font-size: 0.6em;
  }

}
